.status{
    color: red;
}
.status-done{
    color: green;
}
.form-control{
    width: 60%;
}
#header{
    margin-left: 30%;
}
/*input[type=checkbox], input[type=radio]{
    margin: 4px 60px 0 0;
}*/
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    position: inherit;
}
#todoapp{
    margin: 0 2% 0 2%;
}
.view {
    display: none;
}
#todoapp ul {
    list-style-type: none;
}
#td-list input.edit {
    display: none;
}
#td-list .editing label {
    display: none;
}
#td-list .editing input.edit {
    display: inline;
}
button.btn {
    margin: 15px;
}
.center{
    margin: auto;
    width: 60%;
    border:3px solid #000;
    padding: 10px;
}