<!doctype html>
<html>

<head>
    <title>Backbone Todo List</title>
    <meta charset="utf-8"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://underscorejs.org/underscore.js"></script>
    <script src="http://backbonejs.org/backbone.js"></script>
    <script src="js/backbone.js"></script>
</head>

<body>
<div class="center">
    <section id="todoapp">
        <header id="header">
            <h1>ToDo MVC</h1>
            <input id="new-todo" class="form-control" placeholder="What needs to be done?"></br>
            <span id="items-todo" class=""> </span></br></br>
        </header>
        <section id="main">
            <div>
                <span>View: </span>
                <a href="#/all" class="btn btn-info" role="button">All</a>
                <a href="#/todo" class="btn btn-info" role="button">ToDo</a>
                <a href="#/completed" class="btn btn-info" role="button">Finished</a>
            </div>
            <br>
            <table class="table-striped" id="td-list"></table>
        </section>
    </section>
</div>
<script type="text/template" id="item-template">
    <div class="view">
        <div class="checkbox-inline">
            <td class="col-md-5">
                <button type="button" class="destroy btn btn-primary">Remove</button>
            </td>
            <td class="col-md-5"><input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %> ></td>
            <td class="col-md-5"><label><%- title %></label></td>

        </div>
    </div>
</script>
</table>
<script src="js/main.js"></script>
</body>
</html>